.main {
	padding-top: 60px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	height: 100vh;
	background-color: #F7F7F4;

	& > .wrap {
		display: flex;
		height: 100%;
		flex: 1;
		position: relative;

		@media (--tablet) {
			padding-left: 50px;
		}
	}
}

.main-block {
  flex: 1;
  display: flex;
  flex-direction: column;
	justify-content: space-between;
	height: 100%;
}