.practice {
	flex: 1;
	display: flex;
  flex-direction: column;
	margin: 10px;
	border: 1px solid #D4D4D4;
  border-radius: 3px;
  box-shadow: 1px 5px 10px rgba(49,100,160,.1), -1px 0 10px rgba(49,100,160,.1);
  overflow: hidden;
  position: relative;

	& .step {
		width: 100%;
		display: flex;
		padding: 10px 10px 20px;

		& .item {
			width: 90px;
			height: 30px;
			display: flex;
			align-items: center;
			justify-content: center;
			color: var(--color-key-4);
			background-color: var(--color-bg-1);
			border: 1px solid var(--color-key-4);
			border-radius: 3px;
			cursor: pointer;
			transition: var(--transition-link);

			& + .item {
				margin-left: 10px;
			}

			&.active,
			&:hover {
				font-weight: bold;
				color: var(--color-text-2);
				background-color: var(--color-key-4);
			}
		}
	}

	& .contents {
		flex: 1;

    & .wrap {
    	max-width: 400px;
    	height: 100%;
    	margin: auto;
    	display: flex;
	    align-items: center;
	    justify-content: space-between;
    }
	}

	& .task {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
	}

	& .svg {
		overflow: visible;
	}

	& .complete {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		width: 300px;
		height: 300px;
		opacity: 0;
		pointer-events: none;
		transition: var(--transition-link);

		&.visible {
			opacity: 1;
		}
	}
}