.practice {
	flex: 1;

	& .step {
		width: 100%;
		display: flex;
		padding: 10px 25px 20px;

		& .item {
			width: 90px;
			height: 30px;
			display: flex;
			align-items: center;
			justify-content: center;
			color: var(--color-key-4);
			background-color: var(--color-bg-1);
			border: 1px solid var(--color-key-4);
			border-radius: 3px;
			cursor: pointer;
			transition: var(--transition-link);

			& + .item {
				margin-left: 10px;
			}

			&.active,
			&:hover {
				font-weight: bold;
				color: var(--color-text-2);
				background-color: var(--color-key-4);
			}
		}
	}

	& .contents {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	& .table {
		border-collapse: collapse;

		& .tr {
			height: 50px;
		}

		& .td {
			border: 1px solid transparent;
			position: relative;
			width: 100px;
		}

		& .target {
			position: absolute;
			content: url("../../assets/images/practice/target_hippo.png");
			width: 50px;
			height: 50px;
			left: -25px;
			bottom: 0;
		}

		& .start {
			&::before {
				position: absolute;
				content: "";
				width: 15px;
				height: 15px;
				border-radius: 50%;
				background-color: var(--color-text-1);
				left: -7.5px;
				bottom: -12px;
			}
		}

		& .end {
			&::before {
				position: absolute;
				content: "";
				width: 15px;
				height: 15px;
				border-radius: 50%;
				border: 1px solid var(--color-text-1);
				background-color: var(--color-bg-1);
				right: -7.5px;
				bottom: -12px;
			}
		}

		& .line {
			&.bottom {
				border-bottom: 8px solid #DCDCD9;
			}

			&.td {
				& + .td {
					&::after {
						content: "";
				    background-size: 3px 5px;
				    background-image: linear-gradient(to bottom, #4e4e4e, #4e4e4e 3px, transparent 3px, transparent 5px);
				    background-repeat: repeat-y;
				    position: absolute;
				    bottom: -10px;
				    left: -0.5px;
				    width: 1px;
				    height: 14px;
				    z-index: 2;
					}
				}
			}
		}
	}
}