/* -------------------------------------------
 *
 * typography settings
 *
------------------------------------------- */
html {
  font-size: var(--font-size-root);
}

body {
  font-family: var(--font-helvetica-sans-serif);
  font-size: var(--font-size-base);
}
